# =============================
# Node.js
# =============================
node_modules/
npm-debug.log
yarn-error.log
pnpm-debug.log

# =============================
# Build outputs
# =============================
dist/
build/
coverage/

# =============================
# Environment / Secrets
# =============================
.env
.env.*
!.env.example
.envs

# =============================
# Docker
# =============================
*.log
*.pid
tmp/
temp/
*.swp

# =============================
# Terraform
# =============================
*.tfstate
*.tfstate.*
.terraform/
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json


# =============================
# OS / Editor junk
# =============================
.DS_Store
Thumbs.db
.idea/
.vscode/
*.sublime-workspace
*.sublime-project
