version: "3.9"

services:

  threat-composer:
    image: ecs-threat-composer:latest

    build:
     context: .
     dockerfile: dockerfile

    ports:
      - "8080:8080"
    
    restart: unless-stopped