name: Terraform Destroy (Dev)

on:
  workflow_dispatch:
  

permissions:
  id-token: write
  contents: read

jobs:
  destroy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          ref: dev
          
      - name: Configure AWS credentials (Dev)
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::557690622944:role/github-actions-role
          aws-region: ${{ secrets.DEV_AWS_REGION }}

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: 1.6.0

      - name: Terraform Init
        working-directory: infra/terraform/envs/dev
        run: terraform init -migrate-state

      - name: Terraform Destroy (Dev)
        working-directory: infra/terraform/envs/dev
        run: terraform destroy -auto-approve -lock=false
